In [1]:
# Your first line of Code : 
# This print statement is used to print content on screen

print('Hello World')

Hello World

## Lists

In [2]:
# creating a list
List = [1, 2,  3, "GFG", 2.3]
print(List)

[1, 2, 3, 'GFG', 2.3]

In [3]:
# adding new element to the list 
List.append(3.1)
List

[1, 2, 3, 'GFG', 2.3, 3.1]

In [4]:
# clearing the list/removing all elements of the list
List.clear()
List

[]

In [5]:
# comprehensive way of building a list
List = [x for x in range(1, 11)]
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# copying all the elements of a list to a new list
list2 = List.copy()
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# getting the count of a number / number of appearances of an element in the list
List.count(10)

1

In [8]:
# adding multiple elements at once 
List.extend([10, 11])
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11]

In [9]:
# Getting the index of the first appearance of an element, index range starts from 0
# (here 10 appeared 2 times but the index provided is the first time it was found)
List.index(10)

9

In [10]:
# Inserting an element at a specific index unlike append which adds at the end
List.insert(10, 11)#first is index, second is value to append
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 10, 11]

In [11]:
# removing the last element of the list
List.pop()
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 10]

In [12]:
# removes the first occurance of the element value
List.remove(10)
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 10]

In [13]:
#reverses the list (rearranges the elements from last element to first)
List.reverse()
List

[10, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
#sorts the list in ascending and descending order as per reverse=True/False
List.sort()#reverse is false by default
print('Sorted list in ascending order : ', List)

List.sort(reverse=True)
print('Sorted list in descending order : ', List)

Sorted list in ascending order :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Sorted list in descending order :  [11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<h1> <font face =verdona color=red> Thats all about Lists !!
<h3> <font face =verdona color=orange>Hurray !!
<img src="aiimage.png" alt="Image" width="200" height="100">

## Tuples
       (immutable cant add and remove elements)

In [15]:
# creating a tuple
Tuple = (7, 0, 8, 0, 0, 9)
Tuple

(7, 0, 8, 0, 0, 9)

In [16]:
# getting the count of the element
Tuple.count(0)

3

In [17]:
# first appearance index (remember indexing begins from 0)
Tuple.index(0)

1

In [18]:
# comprehensive way of creating the tuple
Tuple = tuple(x for x in range(1,11))
Tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

<h4> Since tuples cant be manipulated Tuples have only these two functions

<h1> <font face =verdona color=red> Finished off too early with Tuples !!
<h3> <font face =verdona color=orange>Hurray !!
<img src="aiimage.png" alt="Image" width="200" height="100">

## Sets
     mutable collection of data, does not allow any duplicate element

In [19]:
# creating a set
Set = {1, 2, 3, 4, 5, 6, 7}
Set

{1, 2, 3, 4, 5, 6, 7}

In [20]:
# adding new element to the set
Set.add(8)
Set

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
# clearing the set
Set.clear()
Set

set()

In [22]:
# comprehensive way of creating the set
Set = set(x for x in range(1,11))
Set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [23]:
# copying the elements of a set to another
new_Set = Set.copy()
new_Set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
# difference between two sets in a new set
Set2 = {1, 2, 3, 4, 5, 6, 7}
Set.difference(Set2)

{8, 9, 10}

In [25]:
# get the difference and update the list with only the difference elements
Set.difference_update(Set2)
Set

{8, 9, 10}

In [26]:
# discard the element value given if in the set or else run the program without giving error
Set.discard(11)
Set

{8, 9, 10}

In [27]:
# common elements in the sets
Set.intersection(new_Set)

{8, 9, 10}

In [28]:
# get the common elements and update the set with the common elements only
Set.intersection_update(new_Set)
Set

{8, 9, 10}

In [29]:
# Returns True if two sets have a null intersection.
Set.isdisjoint(new_Set)

False

In [30]:
# returns true if all elements of 'Set' are in 'new_set'
Set.issubset(new_Set)

True

In [31]:
# Report whether this set contains another set.
Set.issuperset(new_Set)

False

In [32]:
# removes the first element of the set
Set.pop()
Set

{9, 10}

In [33]:
# removes a specific element from the set
Set.remove(10)
Set

{9}

In [34]:
# works similar as difference function
Set.symmetric_difference(new_Set)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [35]:
# works similar as difference update function
Set.symmetric_difference_update(new_Set)
Set

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [36]:
# all the elements present in both the sets
Set.union(new_Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [37]:
# update the set with all the elements present in both the sets
Set.update(new_Set)
Set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

<h1> <font face =verdona color=red> Sets made us work a little but its easy ☺
<h3> <font face =verdona color=orange>Hurray !!
<img src="aiimage.png" alt="Image" width="200" height="100">

## Dictionaries 
    used to mapping some value to user defined index where the index is unique

In [38]:
# creating a dictionary
dictionary = {"Anthony": 23, "Mark": 48, "Gloria": 60}
dictionary

{'Anthony': 23, 'Mark': 48, 'Gloria': 60}

In [39]:
dictionary.clear()
dictionary

{}

In [40]:
#comprehensive way of creating a dictionary
Dict = {x : x**2 for x in range(1,11)}
Dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [41]:
dictionary = Dict.copy()
dictionary

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [42]:
# another way of creating a dictionary and assigning the same value to multiple keys
new = dict.fromkeys([11, 12, 13,14, 15],'Joseph')
new

{11: 'Joseph', 12: 'Joseph', 13: 'Joseph', 14: 'Joseph', 15: 'Joseph'}

In [43]:
# get the value for the item
Dict.get(4)

16

In [44]:
# all the elements in forms of tuple
Dict.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])

In [45]:
# all the user defined index values(keys)
Dict.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [46]:
# Removing the item with given key
Dict.pop(9)
Dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 10: 100}

In [47]:
# removes the last item
Dict.popitem()
Dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [48]:
# keep the value in the dict even if its value is not provided
Dict.setdefault(12)
Dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 12: None}

In [49]:
#add a new item in the dictionary
Dict.update({12 :  144})
Dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 12: 144}

In [50]:
# returns all the values for all indexes in the dictionary
Dict.values()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 144])

<h1> <font face =verdona color=red> And there we go !! We are done with Python Data Structures/ Data containers ☺
<h3> <font face =verdona color=orange>Hurray !!
<img src="aiimage.png" alt="Image" width="200" height="100">