### Strings
    data type that represents a sequence of characters within quotes.

In [1]:
string = "this Is a String\t  {}"

#type() function is used to get the data type of any variable
print(string, '\nType : ',type(string))

this Is a String	  {}
Type :  <class 'str'>

### Integers
    This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals).

In [2]:
integer = 5

print("Type : ", type(integer))

Type :  <class 'int'>

### Float 
    This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point.

In [3]:
fl = 5.0
print('Type : ', type(fl))

Type :  <class 'float'>

There are various functions to the strings, integers and float variables

<h1> <font face =gabriola color=red> Wohoo You're all caught up with the data types !!
<h3> <font face =gabriola color=orange> Hurray !!

### Lambda 
    short functions

In [4]:
#lambda Calculator

#input function is used to get the input from the user for a variable of any datatype
a = int(input("Enter a number : "))
b = int(input("Enter another number : "))

add = lambda x, y : x + y
print('\tAddition - ', add(a, b))

mul = lambda x, y : x * y
print('\tMultiplication - ', mul(a, b))

div = lambda x, y : x / y
print('\tDivision - ', div(a, b))

sub = lambda x, y : x - y
print('\tSubstraction - ', sub(a, b))

sq = lambda x, y : x**2 + y**3
print('\tsquare + cube- ', sq(a, b))

Enter a number : 22
Enter another number : 2
	Addition -  24
	Multiplication -  44
	Division -  11.0
	Substraction -  20
	square + cube-  492

<h1> <font face =gabriola color=red>Easy Peasy Lambda !!
<h3> <font face =gabriola color=orange>Hurray

### Inbuilt functions

In [5]:
# Used to round values based on the number of decimal place provide (default=0)
round(12.4)

12

In [6]:
# obtaining the minimum and maximum values from a collection of numbers
list1 = [1,2,3,4,5,6]
print('Min : ',min(list1))
print('Max : ',max(list1))

Min :  1
Max :  6

In [7]:
# Maps a function with an iterable object
sq = lambda a: a**2
l1 = [1,2,3,4]
l2 = list(map(sq, l1)) # function, iterable obj
l2

[1, 4, 9, 16]

In [8]:
#sums up all the elements from a collection
sum(l2)

30

In [9]:
# creating list by input function
nums = list(map(int, input().split(","))) #put these 12, 36, 24, 48, 72, 60
nums

12, 36, 24, 48, 72, 60

[12, 36, 24, 48, 72, 60]

<h1> <font face =gabriola color=red> Done with inbuilt functions too â˜º
<h3> <font face =gabriola color=orange> Hurray !!